.single-item{
  display flex
  padding 5px 5px
  align-items center
  &.target-item{
    flex-direction row
    .single-item-content{
      border 1px solid #e3e3e3
      background-color #e3e3e3
    }
  }
  &.local-item{
    flex-direction row-reverse
    .single-item-content{
      border 1px solid #baf2ff
      background-color #baf3ff
    }
  }
  .single-item-avatar{
    display flex
    align-items center
    padding 10px
    i{
      display inline-block
      width 30px
      height 30px
      border 1px solid #e3e3e3
      font-size 20px
    }
  }
  .single-item-content{
    padding 5px
    border-radius 5px
  }
}