.single-chat-card{
  height 50px
  border-bottom 1px solid #e3e3e3
  display flex
  cursor pointer
  .person-avatar{
    display flex
    width 50px
    justify-content center
    align-items center
    .avatar-area{
      display inline-block
      width 30px
      height 30px
      border 1px solid #e3e3e3
    }
  }
  .single-card-content{
    display flex
    flex 1
    flex-direction column
    .nick-time{
      flex 1
      .nick-name{

      }
      .latest-time{
        float right
        font-size 14px
        line-height 25px
        color #999
        margin-right 9px
      }
    }
    .last-chat{
      flex 1
    }
  }
}